---

import Form from '../components/Form.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Penghitung Jumlah Keyword">
  <main>
	<Form client:idle/>
   
    <!-- Rest of the code -->
  </main>
</Layout>
<script>

  </script>
  
